body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #010D1E;
    padding: 10px 0px 80px 0px;
    position: relative;
    min-height: 100vh;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-color: #007672;  
    color: #000000;
    width: 100%;
    height: 80px;
    bottom: 0;
    position: absolute;
    opacity: 0.8;
}
.userbar {
    height: 25px; 
    font-size: 10px;
}

/* BUTTONS */
.btn-log{
    font-size: 10px;
    background-color: #E33606;
    border-color: #E33606;
}
.btn-log:hover{
    background-color: #E35406;
}
.btn-primary{
    background-color: #E35406;
    color: #ffffff;
    border-color: #E35406;
}
.btn-primary:hover{
    background-color: #E33606;
}
.list-group-item-action:hover{
    background-color: #5AADAC;
    color: #000000;
}
.list-group-item-action:active{ 
    background-color: #E35406;
    color: #000000;
}
/*LIST STYLE */
ul{
    list-style: none;
}

/*FONTS SIZES*/
h6{
    font-weight: bold;
}
h5{
    font-weight: bold;
}

h3{
    color: #E35406; 
}
/* NAVBAR STYLES */

.navbar-dark{
    background-color: #007672 !important;
    background-image: linear-gradient(-25deg,#007672,#65C2C1,#007672);
    font-size: 18px;
}
.nav-link:hover, .navbar-nav .nav-link:focus{ color:white; }

.sticky-top{
    position: sticky;
}
/* NAVBAR STYLES END */

/* ANIMATIONS */
.spinner{
    max-width:20px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* ANIMATIONS END */

/*HOME PAGE STYLES */
.parallax{
    background-image: url('../images/bg-calendar.jpg') ;
    height: 100%;
    background-size: cover ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.container-about{
    height: 100vh;
    background-color: #007672; /* For browsers that do not support gradients */
    background-image: linear-gradient(55deg,#65C2C1,#007672,#007672);
    color: #ffffff;
}

.container-services{
    height: 100vh;
}

.bo{
    background-color: #ffffff;
    border-color: #E35406;
    color: #007672;
    border-radius: 15px;
    padding: 15px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container-contact{
    padding: 50px;
    color: #ffffff;
    background-color: #007672;
    background-image: linear-gradient(-35deg,#007672,#65C2C1,#007672,); ;
    min-height: 100vh;
}
.cont-form-group{
    background-color: #ffffff;
    color: #000000;
    opacity: 0.8;
    padding: 10px;
    border-radius: 15px;
}
/*HOME PAGE STYLES END*/

.imagesource{
    text-align: center;
 }   

.profile-image{
    max-height: 300px;
}

/* NOTIFICATION MESSAGES */
#msg{
    width: 30%;
    right: 0;
    left: auto;
    top: 25vh;
    display:none;
}

/* ---------- MOBILE QUERIES ------------- */
@media (max-width:991px){
    .page2{
       position: absolute !important;
    }
}
@media (max-width: 768px) {

}