body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #20303D;
    padding: 10px 0px 80px 0px;
    position: relative;
    min-height: 100vh;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-color: #007672;  
    color: #000000;
    width: 100%;
    height: 80px;
    bottom: 0;
    position: absolute;
    opacity: 0.8;
}
.userbar {
    height: 25px; 
    font-size: 10px;
}

/* BUTTONS */
.btn-log{
    font-size: 10px;
    background-color: #E33606;
    border-color: #E33606;
}
.btn-log:hover{
    background-color: #E35406;
}
.btn-primary{
    background-color: #E35406;
    color: #ffffff;
    border-color: #E35406;
}
.btn-primary:hover{
    background-color: #E33606;
}
.list-group-item-action:hover{
    background-color: #5AADAC;
    color: #000000;
}
.list-group-item-action:active{ 
    background-color: #E35406;
    color: #000000;
}
/*LIST STYLE */
ul{
    list-style: none;
}

/*FONTS SIZES*/
h6{
    font-weight: bold;
}
h5{
    font-weight: bold;
}

/* NAVBAR STYLES */

.navbar-dark{
    background-color: #007672 !important;
    background-image: linear-gradient(-25deg,#007672,#65C2C1,#007672);
    font-size: 18px;
}
.nav-link:hover, .navbar-nav .nav-link:focus{ color:white; }

.sticky-top{
    position: sticky;
}
/* NAVBAR STYLES END */

/* ANIMATIONS */
.spinner{
    max-width:20px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* ANIMATIONS END */

/*HOME PAGE STYLES */
.parallax{
    background-image: url('../images/bg-calendar.jpg') ;
    height: 100%;
    background-size: cover ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.container-about{
    height: 100vh;
    background-color: #007672; /* For browsers that do not support gradients */
    background-image: linear-gradient(55deg,#65C2C1,#007672,#007672);
    color: #ffffff;
}

.container-services{
    height: 100vh;
}
.colo{
    background-color: #E35406;
    color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) #ffffff;
}
.container-contact{
    padding: 50px;
    color: #ffffff;
    background-color: #007672;
    background-image: linear-gradient(-35deg,#007672,#65C2C1,#007672,); ;
    min-height: 100vh;
}
.cont-form-group{
    background-color: #ffffff;
    color: #000000;
    opacity: 0.8;
    padding: 10px;
    border-radius: 15px;
}
/*HOME PAGE STYLES END*/

.imagesource{
    text-align: center;
 }   

.profile-image{
    max-height: 300px;
}
/* ------ ADMIN SIDEBAR -------- */

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* ---------- MOBILE QUERIES ------------- */

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}